table, tr, td {
    border: 2px black solid;
    width: 200px;
    table-layout: fixed;
    border-spacing: 30px 10px;
    caption-side: bottom;
    border-collapse: separate;
    empty-cells: hide;
}
